* {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
html,
body {
  height: 100%;
}

h1 {
  font-size: 48px;
=======
.opinion {
  border-radius: 5px;
  background-color: #ededed;
  color: paleturquoise;
  line-height: 25px;
}

.gender {
  position: relative;
  float: left;
  margin: 0 auto;
  padding: 10px 25px 15px;
>>>>>>> newf2
}
